<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>RTL8723BE</string>
    <key>CFBundleIdentifier</key>
    <string>com.vini.driver.RTL8723BE</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>RTL8723BE</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>IOKitPersonalities</key>
    <dict>
        <key>RTL8723BE</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.vini.driver.RTL8723BE</string>
            <key>IOClass</key>
            <string>AirportRtl8723be</string>
            <key>IOPCIClassMatch</key>
            <string>0x02800000&amp;0xffff0000</string>
            <key>IOPCIMatch</key>
            <string>0xb72310ec</string>
            <key>IOProviderClass</key>
            <string>IOPCIDevice</string>
        </dict>
    </dict>
    <key>OSBundleLibraries</key>
    <dict>
        <key>com.apple.iokit.IO80211Family</key>
        <string>1.0.0</string>
        <key>com.apple.iokit.IONetworkingFamily</key>
        <string>1.0.0</string>
        <key>com.apple.iokit.IOPCIFamily</key>
        <string>1.0.0</string>
        <key>com.apple.kpi.iokit</key>
        <string>8.0.0</string>
        <key>com.apple.kpi.libkern</key>
        <string>8.0.0</string>
        <key>com.apple.kpi.mach</key>
        <string>8.0.0</string>
    </dict>
</dict>
</plist>
